.header {
    font-weight: bold;
    font-size: 25px;
    background: #fff;
    display: inline-block;
    padding: 20px 30px !important;
    margin: 10px 0;
    border-radius: 0 0 35px 35px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);
}
.settings-header {
     font-size: 18px;
     font-weight: bold;
     color: #fff;
     background: rgba(0, 133, 186, 0.8);
     box-shadow: 1px -1px 0 1px rgba(12, 58, 76, 0.3) inset;
     border-top: 2px solid rgb(67, 185, 232);
     text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
     display: inline-block;
     padding: 10px 30px !important;
     border-radius: 35px 0 15px 0;
     margin-bottom: 1px !important;
     margin-top: 0 !important;
 }
.settings-content {
    border-radius: 0 25px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border: 1px solid rgba(43, 121, 152, 0.6);
    border-right-width: 2px;
    border-bottom-width: 3px;
}
.iks-setting .form-table {
    margin-top: 0 !important;
}
.iks-setting .form-table th, .iks-setting .form-table td {
    padding-left: 10px !important;
}
.iks-setting .form-table tr:nth-child(2n) {
    background: rgba(0,0,0,0.03);
}

.settings-description {
    display: block;
    font-weight: normal;
    font-style: normal;
    color: #555;
    font-size: 12px;
    line-height: 1.5;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    border-radius: 0 0 25px 25px;
}
.desc-icon {
    display: inline-block;
    margin-right: 5px;
}

.main-text {
    color: #000;
    font-size: 15px;
}
.subtext {
    color: #808080;
    font-size: 12px;
    margin-top: 5px;
}
.example {
    font-size: 12px;
    margin-top: 5px;
    color: #000000;
    background: rgba(0,0,0,0.02);
    border: 1px solid rgba(0,0,0,0.1);
    margin-right: 5px;
    display: inline-block;
    border-radius: 35px;
    padding: 2px 5px;
}

.fixed-submit {
    z-index: 99999;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 0;
    margin: 0;
}
.fixed-submit .button-primary {
    padding: 30px !important;
    line-height: 0 !important;
}

@media screen and (min-width: 768px) {
    .settings-row {
        width: 100%;
    }
    .settings-block {
        display: inline-block;
        width: 48%;
        vertical-align: top;
    }
    .settings-block:nth-child(2n+1) {
        margin-right: 2%;
    }
}
.settings-row, .settings-block {
    margin-bottom: 10px;
}