/**
 * Contains main CSS for plugin.
 */
 
 /* main plugin output wrap */
.iks {
    width: 100%;
    margin: 20px 0 35px 0;
    display: inline-block;
}

/* main post wrap */
.iks-wrap {
    z-index: 1;
    position: relative;
	overflow: hidden;
    background: #fff;
    display: inline-block;
    vertical-align: top;
}
.iks-wrap:hover {
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 7px rgba(0,0,0,0.2);
    box-shadow: 0 0 7px rgba(0,0,0,0.2);
    overflow: hidden;
}

/* image */
.iks-image {
    transition: all ease 0.5s;
    display: block;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}
.iks-image:hover {
    -webkit-box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}
a.iks-image.image-not-found {
    background-size: 100% 100% !important;
}

/* description */
.iks-desc {
    padding: 10px;
}

/* title */
.iks-title {
    color: #444;
    font-size: 17px;
    display: block;
}

/* info block */
.iks-info {
	margin-top: 10px;
}
.iks-info div {
    display: inline-block;
    margin-right: 15px;
}

/* comments link */
.iks-comments {
    font-size: 17px;
}

/* categories */
.iks .iks-categories-wrap {
    margin-top: 10px;
}
.iks ul.iks-categories-list {
    margin: 0;
    list-style: none;
}
.iks .iks-categories-list > .iks-item {
    display: inline-block;
    margin-right: 10px;
}

/* content preview */
.iks-content-preview {
	margin-top: 10px;
    word-break: break-all;
}
.iks-read-more {
	margin-left: 10px;
}

/* custom fields */
.iks-custom-fields-wrap {
	margin-top: 10px;
}
.iks-custom-field-item .iks-label {
    font-weight: bold;
}

/* footer */
.iks-footer {
    margin-top: 10px;
}

/* post link button */
.iks-button-wrap {
    margin-top: 10px;
    width: 100%;
}
.iks-button {
    text-decoration: none;
    display: inline-block;
    -webkit-transition: 0.3s box-shadow, 0.3s border-radius, 0.3s background-color;
    -moz-transition: 0.3s box-shadow, 0.3s border-radius, 0.3s background-color;
    -o-transition: 0.3s box-shadow, 0.3s border-radius, 0.3s background-color;
    transition: 0.3s box-shadow, 0.3s border-radius, 0.3s background-color;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.iks-button:hover {
    text-decoration: none;
}

/* pagination */
.iks-pagination-wrap {
    display: inline-block;
    margin-top: 25px;
    width: 100%;
    text-align: center;
    clear: both;
}
.iks-pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
}
.iks-pagination > li {
    display: inline;
}
.iks-pagination > li > a,
.iks-pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.5;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.iks-pagination > li > a:hover,
.iks-pagination > li > span:hover,
.iks-pagination > li > a:focus,
.iks-pagination > li > span:focus {
    z-index: 1;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}
.iks-pagination > .active > a,
.iks-pagination > .active > span,
.iks-pagination > .active > a:hover,
.iks-pagination > .active > span:hover,
.iks-pagination > .active > a:focus,
.iks-pagination > .active > span:focus {
    padding: 8px 14px !important;
    margin-top: -2px;
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}